{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for mailing_attempt in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Время попытки: {{ mailing_attempt.attempt_at }}</p>
                        <p class="card-text">Статус: {{ mailing_attempt.status }}</p>
                        <p class="card-text">Ответ почтового сервера: {{ mailing_attempt.server_response }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}