{% extends 'base.html' %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ str(mailing) }}</strong></p>
                        <p class="card-text">Содержимое рассылки - сообщение {{ mailing.message.subject }} <a
                                class="btn btn-primary" href="{% url 'mailings:message_detail' mailing.message.pk %}" role="button">Подробнее</a></p>
                        <p class="card-text">Время начала рассылки: {{ mailing.started_at }}</p>
                        <p class="card-text">Время окончания рассылки: {{ mailing.completed_at }}</p>
                        <p class="card-text">Периодичность: {{ mailing.frequency }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'mailings:mailing_list'%}" role="button">Назад</a>
                                <a class="btn btn-primary" href="{% url 'mailings:mailing_update' mailing.pk %}" role="button">Редактировать</a>
                            </div>
                            <small class="text-body-secondary">Количество просмотров: {{ post.views_amount
                                }}</small><br>
                            <small class="text-body-secondary">Дата создания: {{ post.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
