{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><strong>Тема письма: {{ message.subject }}</strong></p>
                        <p class="card-text">{{ message.body }}</p>
                        <p class="card-text">{{ client.comment }}</p>
                            <div class="btn-group">
                                <a class="btn btn-outline-dark" href="{% url 'mailings:mailing_list'%}" role="button">Назад</a>
                                {% if client.user == user or perms.mailings.update_message %}
                                <a class="btn btn-outline-dark" href="{% url 'mailings:message_update' message.pk %}" role="button">Редактировать</a>
                                {% endif %}
                            </div>
                            <small class="text-body-secondary">Создатель письма: {{ message.user }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
