{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for user in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ user.email }}</strong></p>
                        <p class="card-text">Имя: {{ user.first_name }}</p>
                        <p class="card-text">Фамилия: {{ user.last_name }}</p>
                        <p class="card-text">Номер телефона: {{ user.phone }}</p>
                        <p class="card-text">Компания: {{ user.company }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-outline-dark" href="{% url 'users:ban' user.pk %}" role="button">Заблокировать</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}