{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text"><strong>{{ client.surname }} {{ client.name }} {{ client.patronymic }}</strong></p>
                        <p class="card-text">Почта клиента: {{ client.email }}</p>
                        <p class="card-text">{{ client.comment }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'clients:client_list'%}" role="button">Назад</a>
                                <a class="btn btn-primary" href="{% url 'clients:client_update' client.pk %}" role="button">Редактировать</a>
                            </div>
                            <small class="text-body-secondary">Количество рассылок с этим клиентом:</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
